* {
  text-decoration: none;
}

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

*:focus {
  transition: $timing-function;
}

/* :root {
  --black-logo: #000000;
  --black-text: #212121;
  --white-text: #ffffff;
  --grey-text: #757575;
  --blue-text: #2196f3;
  --elements-grey: #2f303a;
  --button-bg-non-active: #F5F4FA;
  --button-bg-active: #2196F3;
  --icon-non-active: #AFB1B8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body{
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  font-family: 'Roboto', sans-serif;
} */

svg path {
  stroke: inherit;
  stroke-width: inherit;
  fill: inherit;
}

/* .header {
  position: relative;
  font-family: 'Roboto', sans-serif;
  padding: 24px 0px 25px;
  border-bottom: 1px solid #ECECEC;
}

.header-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
} */

/* .header-navigation {
  display: flex;
}

.menu-nav {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: $black-text;
  margin: 0px;
  padding: 0px;
}

.menu-nav__link:not(:last-child) {
  margin-right: 50px;
} */
/* 
.logo-main {
  display: block;
  font-family: 'Raleway', sans-serif;
  color: var(--blue-text);
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.logo-accent {
  padding-right: 93px;
  color: $black-logo;
} */

/* .menu-nav__link:hover,
.menu-nav__link :focus,
.menu-nav__link.current:hover,
.menu-nav__link.current :focus {
  list-style: none;
  color: var(--blue-text);
}

.menu-nav__link.current {
  position: relative;
  color: var(--blue-text);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}

.menu-nav__link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}

.menu-nav__link.current .current-link::after {
  position: absolute;
  right: 0;
  top: 45px;
  display: flex;
  content: "";
  width: 100%;
  height: 4px;
  background-color: $accentColor;
  border-radius: 2px;
} */

/* .contacts-container {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  align-items: center;
  justify-content: center;
}

.contacts-header {
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.contacts__list-item :hover,
.contacts__list-item :focus {
  color: var(--blue-text);
  outline: none;
  fill: $accentColor;
}

.contacts__list-item {
  margin-left: 30px;
  color: $grey-text;
  justify-content: space-between;
  align-items: center;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}

.mail {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: currentColor;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}

.mail:focus,
.mail :hover,
.phone:focus,
.phone :hover {
  color: var(--blue-text);
}

.phone {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: currentColor;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}

.contacts-icon {
  display: flex;
  flex-direction: row;
  color: $grey-text;
  margin: 0px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
} */

.section {
  padding-top: 94px;
}

/* .hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $elements-grey;
  max-width: 1600px;
  max-height: 600px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
  ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 696px;
} */

/* .partners {
  margin: 0px;
  padding-bottom: 94px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
} */

/* portfolio */
.buttons {
  font-family: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0px;
  padding-top: 94px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* portfolio */
.buttons :not(:last-child) {
  margin-right: 8px;
}

button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

/* portfollio */
.button {
  padding: 6px 22px;
  margin: 0;
  border: none;
  cursor: pointer;
  display: inline-block;
  list-style: none;
  text-decoration: none;

  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: $black-text;
  background-color: $non-active;
  border-radius: 4px;
  transform: scale(1);

  transition-property: color, background-color, transform;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}

/* portfollio */
.button:hover,
.button:focus {
  color: $whiteColor;
  background-color: $accentColor;
  outline: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transform: scale(0.9);
  cursor: pointer;
}

.button:active {
  transform: translateY(-1px);
}


/* portfollio */
.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1200px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 94px;
}

.card-container {
  margin: -15px;
  width: 1200px;
}

/* portfollio */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding-inline-start: 0px;
  margin-left: auto;
  margin-right: auto;
  margin: 0px;
}

/* portfollio */

.card {
  list-style: none;
  background-color: $whiteColor;
  border: 1px solid #EEEEEE;
  margin: 15px;
  width: 370px;
  max-height: 404px;
  max-width: 370px;
  border-radius: 0px;
}

/* .card:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.card:not(:nth-last-child(3n + 1)) {
  margin-right: 30px;
} */

.overlay-container {
  position: relative;
  display: block;
  width: 100%;
  height: 294px;
  overflow: hidden;
}

.card:hover .overlay,
.overlay-container:focus .overlay {
  transform: translateY(-100%);
}

.overlay-container:focus {
  outline: none;
  border: none;
}

.overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  align-items: center;
  justify-content: center;
  background-color: $accentColor;
  opacity: 0.9;
  transform: translateY(0);
  transition: transform $timing-function;
}

.overlay-text {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: $whiteColor;
}

.card:hover,
.card :focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  outline: none;
}

/* .title {
  display: block;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  padding-top: 200px;
  margin: 0px;
  margin-bottom: 30px;
  justify-content: center;

  or 136%
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $whiteColor;
}

.btn {
  width: 200px;
  height: 50px;
  display: flex;
  color: $whiteColor;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  outline: none;
  border: none;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  background-color: var(--blue-text);
  padding: 10px 0px;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
} */

/* .btn:hover,
.btn:focus, */
.modal-button:hover,
.modal-button:focus {
  transform: scale(1.2);
  cursor: pointer;
}

/* .btn:active {
  transform: translateY(-1px);
} */

.signup-form {
  margin-left: 93px;
}

.signup {
  position: relative;
  display: flex;
  padding-top: 20px;
}

.signup-label {
  position: absolute;
  top: 50%;
  left: 16px;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.signup-input {
  cursor: pointer;
  display: flex;
  margin: 0;
  padding: 15px 0px 15px 16px;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;

  font-size: 16px;
  line-height: 20px;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}

.signup-input:hover,
.signup-input:focus {
  border: 1px solid $accentColor;
  outline: none;
  color: $accentColor;
}

.signup-input::placeholder {
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* .signup .signup-input:focus + .signup-label,
.signup .signup-input:hover + .signup-label,
 {
  transform: translateY(-35px);
} */

/* .signup-input:not(:placeholder-shown) + .signup-label {
  opacity: 0;
} */

/* .signup-button {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  background-color: $accentColor;
  color: $whiteColor;
  fill: currentColor;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  transform: translate(5px);
  transition-property: transform, opacity;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}

.signup-button:hover,
.signup-button:focus {
  outline: none;
  transform: translate(-5px);
  opacity: 0.8;
}

.button-icon-send {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  color: $whiteColor;
  fill: currentColor;
} */

/* .backdrop {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  
  transition-property: transform, opacity;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: $whiteColor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;


  transition: transform $timing-function, background-color 250ms $timing-function;
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-size: contain;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: $whiteColor;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 0;
  outline: none;
  transition-property: color, transform, scale;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}

.modal-button :hover,
.modal-button:focus svg {
  fill: $accentColor;
  color: $accentColor;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 528px;
  height: 581px;
  padding: 40px;
}

.call-back-form {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-header {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $black-text;
  margin: 0;
  padding-bottom: 12px;
} */

/* .form-field:nth-child(-n+3) {
  
} */

/* .form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 40px;
  transition-property: color, fill, border;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}

.form-field:not(:first-child) {
  margin-top: 10px;
}

.form-field:hover,
.form-field :hover,
.form-field :active {
  color: $accentColor;
  fill: $accentColor;
}

.form-input :enabled {
  border: 1px solid $accentColor;
  border-radius: 4px;
}

.form-input {
  position: relative;
  display: block;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin: 0;
  padding: 0;
  padding-left: 42px;
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}

.form-input:hover,
.form-input:focus,
.form-textarea:hover,
.form-textarea:focus {
  border: 1px solid $accentColor;
  outline: none;
  border-radius: 4px;
}

.form-field input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea {
  resize: none;
  height: 120px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin: 0;
  padding: 12px 16px;
}

.form-label {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: $grey-text;
  margin: 0;
  padding: 0;
  padding-bottom: 4px;
}

.form-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 1em;
  left: 12px;
  transform: translateY(0.7em);
}

.check-box-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 425px;
  margin: 0;
  padding: 0;
}

.check-box-label a {
  text-decoration: underline;
  color: var(--blue-text);
}

.check-box-label {
  display: flex;
  align-items: start;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: $grey-text;
  padding-left: 1.2em;
}

.check-input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
}

.check-box {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  width: 16px;
  height: 15px;
  background-image: url(../images/svg/check-box.svg);
  padding-left: -1.2em;
  fill: currentColor;
  border-radius: 2px;
}

/* Focused */
/*
.check-input:focus,
.check-box-container:hover {
  color: $accentColor;
  fill: currentColor;
  background-size: contain;
  background-repeat: no-repeat;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}

/* Checked 
.check-input:checked + .check-box {
  background-color: $accentColor;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/svg/check.svg);

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}

.modal-btn {
  display: flex;
  
  margin-top: 30px;
  background-color: $accentColor;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
} */

svg.button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-size: contain;
  width: 18px;
  height: 18px;
  fill: $black-logo;
}

.button-svg {
  display: flex;
  width: 18px;
  height: 18px;
}

/* portfollio */
.container {
  display: block;
  padding: 20px 24px;
}

/* portfollio */
.project {
  color: $black-text;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 4px;
  margin: 0px;
}

/* portfollio */
.description {
  color: $grey-text;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;

  /* identical to box height, or 187% */
  letter-spacing: 0.03em;

}

/* .content-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: center;
  width: 1200px;
} */

/* .features-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: center;
  width: 1200px;
}

.features {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 1170px;
  list-style: none;
  padding: 0;
  margin: 0;

  /* or 171% */
  /* color: $grey-text;
} */

/* .feature {
  display: inline-block;

} */

/* .icon-antenna::before {
  display: block;
  height: 120px;
  content: "";
  background-color: $non-active;
  background-image: url("../images/svg/antenna.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-clock::before {
  display: block;
  height: 120px;
  content: "";
  background-color: $non-active;
  background-image: url("../images/svg/clock.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-diagram::before {
  display: block;
  height: 120px;
  content: "";
  background-color: $non-active;
  background-image: url("../images/svg/diagram.svg");
  background-repeat: no-repeat;
  background-position: center;
}

 .icon-astronaut::before {
  display: block;
  height: 120px;
  content: "";
  background-color: $non-active;
  background-image: url("../images/svg/astronaut.svg");
  background-repeat: no-repeat;
  background-position: center;
} */

/* .feature:not(:first-child) {
  margin-left: 30px;
}

.feature-icon {
  display: flex;
  height: 120px;
  background-color: $non-active;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  justify-content: center;
}

.feature.icon {
  width: 70px;
  height: 70px;
}

.title3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $black-text;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.feature-item {
  list-style: none;
  min-width: 270px;
  margin: 0px;
  font-size: 14px;
  line-height: 24px;
  
  /* or 171% */
  /* letter-spacing: 0.03em;
}

.feature-item :not(:first-child) {
  margin-left: 30px;
} */ */

/* .work {
  display: flex;
  align-items: center;
  padding-bottom: 94px;
  justify-content: center;
  padding-top: 94px;
}

.title2 {
  display: block;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $black-text;
  margin: 0px;
  margin-bottom: 50px;
}

.boxes {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.boxes> :not(:first-child) {
  padding-left: 30px;
}

.box-container {
  position: relative;
}

.box-image {
  list-style: none;
}

.box-overlay {
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
  height: 70px;
  display: block;
  margin: 0;
  padding: 27px 0;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.box-text {
  display: block;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $whiteColor;
} */

/* .team {
  margin: 0px;
  padding-top: 94px;
  background-color: $non-active;
  padding-bottom: 94px;
}

.team-container {
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  
}

.team-cont {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.team-container > ul {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.team-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $whiteColor;
  width: 270px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  
}

.team-cont .team-card:not(:first-child) {
  margin-left: 30px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.03em;
  color: $black-text;
  padding-top: 30px;
  margin: 0px;
}

.job {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  padding-bottom: 30px;
  padding-top: 10px; 
  text-align: center;
  letter-spacing: 0.03em;
  color: $grey-text;
  margin: 0px;
}*/

/* .companies {
  display: flex;
  flex-wrap: nowrap;
  margin: 0px;
  justify-content: center;
  justify-items: center;
  padding: 0;
  list-style: none;
}

.company:hover {
  border: 1px solid currentColor;
  color: $accentColor;
  fill: $accentColor;
}

.company-link:focus {
  outline: 0;
  border-radius: 4px;
  color: $accentColor;
  border: 1px solid currentColor;
}

.company {
  display: flex;
  color: $non-active;
  width: 170px;
  height: 90px;
  border: 1px solid currentColor;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}

.company-link {
  display: flex;
  width: 100% ;
  height: 100%;
  align-items: center;
  justify-content: center;
  align-content: center;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}

.company-logo {
  fill: currentColor;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.company:not(:first-child) {
  margin-left: 30px;
} */
/* 
.footer {
  background-color: $;
  color: $whiteColor;
  padding: 60px 15px;
}

.footer-container {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* .logo-accent.footer {
  color: $whiteColor;
  padding: 0px;
} */
/* 
.address {
  font-family: 'Roboto', sans-serif;
  color: $whiteColor;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  padding-top: 20px;
}

.contacts {
  color: $grey-text;
}

.contacts-footer {
  margin: 0;
  padding: 0;
}

.text {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $whiteColor;
} */ 

.social-media-container {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  color: $non-active;
  justify-content: center;
}

.footer-content {
  padding-left: 70px;
}



/* .social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  list-style: none;
  padding: 0px;
  transition: opacity 250ms $timing-function;
  opacity: 1;

  transition-property: color, opacity;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}

li.social-media {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.social-media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}

.social-media-item {
  width: 20px;
  height: 20px;
  fill: currentColor;
} */

/* .footer-content .social-media-item {
  width: 20px;
  height: 20px;
  color: $whiteColor;
} */

/* .social-media:not(:last-child) {
  margin-right: 10px;
}

.social-media:hover,
.social-media :focus {
  color: $whiteColor;
  fill: $whiteColor;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: $accentColor;
  border: 0;
  outline: none;
}

.social-media-link:hover,
.social-media-link :focus {
  color: $whiteColor;
  fill: $whiteColor;
  background-color: $accentColor; */
  
  /* opacity: 0.7; */

  /* animation-name: changeBgColor;
  animation-duration: 2500ms;
  animation-timing-function: $timing-function;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards; */
}

/* @keyframes changeBgColor {
  0% {
    background-color: rgba(255, 255, 255, 0.1);
  }

  100% {
    background-color: $accentColor;
  }
} */