@charset "UTF-8";
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

* {
  text-decoration: none;
}

.logo-main, .logo-accent {
  text-decoration: none;
  color: inherit;
}

.menu-nav {
  list-style: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

svg path {
  stroke: inherit;
  stroke-width: inherit;
  fill: inherit;
}

​ ​ :root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
​ html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
​ ​ body {
  margin: 0;
  padding: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
​ body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
​ ​ hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
​ ​ abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

​ ​ b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
​ code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

​ ​ small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
​ sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

​sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
​ ​ table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

​ ​ ​ button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

address {
  font-style: normal;
}

​ ​ button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
​ button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

​ ​ ::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

​ ​ :-moz-focusring {
  outline: 1px dotted ButtonText;
}

​ ​ :-moz-ui-invalid {
  box-shadow: none;
}

​ ​ legend {
  padding: 0;
}

​ ​ progress {
  vertical-align: baseline;
}

​ ​ ::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

​ ​ [type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

​ ​ ::-webkit-search-decoration {
  -webkit-appearance: none;
}

​ ​ ::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

​ ​ ​ summary {
  display: list-item;
}

.header {
  position: relative;
  font-family: 'Roboto', sans-serif;
  padding: 24px 0px 25px;
  border-bottom: 1px solid #ECECEC;
}

.header-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-main {
  display: block;
  font-family: 'Raleway', sans-serif;
  color: var(--blue-text);
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.logo-accent {
  padding-right: 93px;
  color: var(--black-logo);
}

.logo-accent .footer {
  color: var(--white-text);
  padding: 0px;
}

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--black-text);
  margin: 0px;
  padding: 0px;
}

.menu-nav__link:not(:last-child) {
  margin-right: 50px;
}

.menu-nav__link:hover,
.menu-nav__link :focus, .menu-nav__link.current:hover,
.menu-nav__link.current :focus {
  color: var(--blue-text);
}

.menu-nav__link.current {
  position: relative;
  color: var(--blue-text);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.menu-nav__link {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.menu-nav__link.current .current-link::after {
  position: absolute;
  right: 0;
  top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--button-bg-active);
  border-radius: 2px;
}

.contacts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts-header {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts__list-item {
  margin-left: 30px;
  color: var(--grey-text);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.contacts__list-item :hover,
.contacts__list-item :focus {
  color: var(--blue-text);
  outline: none;
  fill: var(--button-bg-active);
}

.contacts-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: currentColor;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.contacts-link :hover, .contacts-link:focus {
  color: var(--blue-text);
}

.contacts-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: var(--grey-text);
  margin: 0px;
  margin-right: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=main.css.map */