  $black-logo: #000000;
  $black-text: #212121;
  $white-text: #ffffff;
  $gray-text: #757575;
  $blue-text: #2196F3;
  $elements-gray: #2F303A;
  $button-bg-non-active: #F5F4FA;
  $button-bg-active: #2196F3;
  $icon-non-active: #AFB1B8;
  $timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);